

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.first-left {
    margin-right: 24px;
    max-width: 475px;
}
img {
    max-width: 475px;
}
.title-img-wrapper {
    max-width: 475px;
    max-height: 250px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
    
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
}

.header a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin-bottom: 16px;
    margin-top: 0;
}

p {
    padding: 0;
    margin: 0 0 16px 0;
}

.header-back, .first-back, .footer-back {
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.header, .first-section, .footer {
    background-color: #1F2937;
    display: flex;
    color: white;
    align-items: center;
    width: 1000px;
}
.header {
    justify-content: space-between;
}
.first-section {
    padding: 100px 0px;
    
}
.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}
.first-section button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 4px 28px;
    font-weight: 800;
    font-size: 18px;
    border-radius: 8px;
}

.second-back, .fourth-back {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.second-section {
    display: flex;
    flex-direction: column;
    width: 1000px;
    padding-bottom: 100px;
    align-items: center;
}
.second-section a{
    text-decoration: none;
    color: gray;
    font-size: 16px;
    max-height: 32px;
}
.second-section p {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 42px;
}
.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 800px;
}
.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    align-items: center;    
}
.trim {
    display: flex;
    justify-content: center;
    max-width: 175px;
    max-height: 175px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.third-back {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}
.third-section {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 100px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    width: 800px;
}
.author {
    width: 750px;
    text-align: right;
    font-weight: 900;
    font-size: 18px;
}
.fourth-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 16px;
    border: 4px solid #f9faf8;
    padding: 50px 100px;
    width: 800px;
    margin: 100px 0;
    color: #E5E7EB;
}
.fourth-section button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    padding: 4px 28px;
    font-weight: 800;
    font-size: 18px;
    border-radius: 8px;
}
.fourth-left h3 {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}
.fourth-section p, h3 {
    margin: 0;
}
.footer {
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}
.footer p{
    padding: 0;
    margin: 0;
}
.footer-back {
    background-color: #1F2937;
    margin: auto 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
}